.signup{
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	border-radius: 20px;
	background: #ff3c00; 
	position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height:350px;
    margin: -200px 0 0 -200px;
}

body{
	background: #c8ccce;
}
p{
	color: white;
}

button {
	background: #ff3c00;
    float: center;
    padding: 1rem;
    position: relative;
    transition-duration: 0.5s;
  	z-index: 100;
  	border: 1px black solid;
    color: white;

}
button:hover {
	background: #c8ccce;
	cursor: pointer;
}

input{
	background:#ff3c00; 
	border: none;
  	border-bottom: 2px solid #c8ccce;
  	width: 80%;
  	height: 20px;
}
input:hover{
	background: #c8ccce;
	border: none;
  border-bottom: 2px solid #c8ccce;
  width: 80%;
  height: 20px;
}
 h2{
  color: white;
 }
input::-moz-placeholder { color: white; }
input::-webkit-input-placeholder { color: white; }
.social{
  margin-top:5px;
}

