body{
	background: #c8ccce;
	height: 100%;
	width: 100%;
}
.header{
	background: #ff3c00;
	width: 98%;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-top:1%;
	border-radius: 20px;
}
a {
	color: #fff;
  	text-decoration: none;
}
.nav{
	margin-right:20px;
	padding-top: 30px;
	float: right;
    font-family: monospace;
}

ul {
  	background: #ff3c00;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
	background: #ff3c00;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  	transition-duration: 0.5s;
}
li:hover {
	background: #c8ccce;
	height: 100%;;
    cursor: pointer;
}

.dropdown {
    background: #ff3c00;
    visibility: hidden;
  	opacity: 0;
  	min-width: 5rem;
    position: absolute;
  	transition: all 0.5s ease;
  	margin-top: 1rem;
    left: 0;
  	display: none;
}

ul li:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	text-align: center;
  	width: 100%;
}

.smalllogo{
	float: left;
	margin-top:5px;
	margin-bottom: 5px;
	margin-left:15px;
	border-radius: 20px;
}


.filmSearch{
	float: right;
	margin-right: 15px;
	margin-top: 45px;
}

.footer{
	background: #ff3c00;
	width: 98%;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;

}
.copy{
	padding-top: 15px;
	padding-left: 30px;
	float: left;

}
.media{
	float: right;
	padding-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}